@charset "utf-8";
/* CSS Document */

body{
	background-color: aqua;
	background-repeat: no-repeat;
  	background-size: auto;

}
h2{
	background: white;
	color: black;
	text-align: center;
	padding: 2px;
	
}
p{
	color: black;
	text-align: center;
	padding: 2px;
	

}
input{
	background: white;
	margin: auto;
	display: block;
}
